ConsoleCli/Service References/CarReference/CarDelivery.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CarDelivery" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/CarService/CarDelivery.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/CarService/CarDelivery.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICarDelivery_TestConnection_InputMessage">
    <wsdl:part name="parameters" element="tns:TestConnection" />
  </wsdl:message>
  <wsdl:message name="ICarDelivery_TestConnection_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestConnectionResponse" />
  </wsdl:message>
  <wsdl:message name="ICarDelivery_AddData_InputMessage">
    <wsdl:part name="parameters" element="tns:AddData" />
  </wsdl:message>
  <wsdl:message name="ICarDelivery_AddData_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddDataResponse" />
  </wsdl:message>
  <wsdl:message name="ICarDelivery_PrintOutput_InputMessage">
    <wsdl:part name="parameters" element="tns:PrintOutput" />
  </wsdl:message>
  <wsdl:message name="ICarDelivery_PrintOutput_OutputMessage">
    <wsdl:part name="parameters" element="tns:PrintOutputResponse" />
  </wsdl:message>
  <wsdl:portType name="ICarDelivery">
    <wsdl:operation name="TestConnection">
      <wsdl:input wsaw:Action="http://tempuri.org/ICarDelivery/TestConnection" message="tns:ICarDelivery_TestConnection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICarDelivery/TestConnectionResponse" message="tns:ICarDelivery_TestConnection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddData">
      <wsdl:input wsaw:Action="http://tempuri.org/ICarDelivery/AddData" message="tns:ICarDelivery_AddData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICarDelivery/AddDataResponse" message="tns:ICarDelivery_AddData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PrintOutput">
      <wsdl:input wsaw:Action="http://tempuri.org/ICarDelivery/PrintOutput" message="tns:ICarDelivery_PrintOutput_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICarDelivery/PrintOutputResponse" message="tns:ICarDelivery_PrintOutput_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICarDelivery" type="tns:ICarDelivery">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TestConnection">
      <soap:operation soapAction="http://tempuri.org/ICarDelivery/TestConnection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddData">
      <soap:operation soapAction="http://tempuri.org/ICarDelivery/AddData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PrintOutput">
      <soap:operation soapAction="http://tempuri.org/ICarDelivery/PrintOutput" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CarDelivery">
    <wsdl:port name="BasicHttpBinding_ICarDelivery" binding="tns:BasicHttpBinding_ICarDelivery">
      <soap:address location="http://localhost/CarService/CarDelivery.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>